# webui
gunicorn
Django==5.0.*
pytz
pyyaml
django-auto-logout
pycryptodome

## api
djangorestframework==3.*
djangorestframework-api-key==2.*
drf-spectacular

## styles
fontawesomefree

# scheduling
crontab

# ansible
ansible-core
ansible-runner
