{% extends "../body.html" %}
{% load static %}
{% block content %}
<script src="{% static 'js/settings/api_key.js' %}"></script>
<div class="table-responsive">
    <table class="table table-striped aw-text-responsive">
        <tr>
            <th>API Token</th>
            <th>Actions</th>
        </tr>
{# todo: build table using ajax to allow for clean refresh #}
{%   for token in api_key_tokens %}
        <tr>
            <td>{{ token }}</td>
            <td>
                <button class="btn btn-danger aw-btn-action aw-api-del" title="Delete" aw-api-endpoint="key" aw-api-item="{{ token }}">
                    <i class="fas fa-trash fa-2x aw-btn-action-icon"></i>
                </button>
            </td>
        </tr>
{%   endfor %}
        <tr>
            <td colspan="100%">
                {% include "../button/refresh.html" %}
                <button class="btn btn-success aw-btn-action aw-api-key-add" title="Add">
                    <i class="fas fa-plus-circle fa-2x aw-btn-action-icon"></i>
                </button>
            </td>
        </tr>
    </table>
</div>


{{ token }}<br>
{% endblock %}