{% extends "../body.html" %}
{% load static %}
{% block content %}
<script src="{% static 'js/settings/api_key.js' %}"></script>
<div class="table-responsive aw-data">
    <table class="table table-striped aw-text-responsive">
        <tr>
            <th>API Token</th>
            <th>Actions</th>
        </tr>
{# todo: build table using ajax to allow for clean refresh #}
{%   for token in api_key_tokens %}
        <tr>
            <td>{{ token }}</td>
            <td>
                <button class="btn btn-danger aw-btn-action aw-api-click" title="Delete" aw-api-endpoint="key" aw-api-item="{{ token }}" aw-api-method="delete">
                    {% include "../button/icon/delete.html" %}
                </button>
            </td>
        </tr>
{%   endfor %}
        <tr>
            <td colspan="100%">
                {% include "../button/refresh.html" %}
                <button class="btn btn-success aw-btn-action aw-api-key-add" title="Add">
                    {% include "../button/icon/add.html" %}
                </button>
            </td>
        </tr>
    </table>
</div>
{% endblock %}