{% load util %}
<tr hidden="hidden" id="aw-spoiler-{{ job.id }}">
    <td colspan="100%">
        <h2>EXECUTIONS</h2><br>
{% for execution in executions|get_value:job.id %}
        <div>
            {{ execution|execution_info_verbose|safe }}
        </div>
{% endfor %}
        <div>
            <button type="submit" title="Collapse" class="btn aw-btn-action aw-btn-collapse" aw-collapse="aw-spoiler-{{ job.id }}">
                {% include "../button/icon/collapse.html" %}
            </button>
        </div>
    </td>
</tr>
