{% load util %}
{% load job_util %}
{%   for job in jobs %}
<tr>
    <td>{{ job.name }}</td>
    <td>{{ job.inventory }}</td>
    <td>{{ job.playbook }}</td>
    <td>{{ job.comment|get_fallback:"-" }}</td>
    <td>{{ job.schedule|get_fallback:"-" }}
{% if job.schedule|exists and not job.enabled %}
        <br><i>(disabled)</i>
{% endif %}
    </td>
    <td>{{ executions|get_value:job.id|first|execution_info_brief|get_fallback:"-"|safe }}</td>
    <td>{{ next_executions|get_value:job.id }}</td>
    <td>
        <a href="/ui/jobs/manage/job/{{ job.id }}">
            <button class="btn btn-warning aw-btn-action" title="Edit">
                {% include "../button/icon/edit.html" %}
            </button>
        </a>
        <button class="btn btn-danger aw-btn-action aw-api-click" title="Delete" aw-api-endpoint="job" aw-api-item="{{ job.id }}" aw-api-method="delete">
            {% include "../button/icon/delete.html" %}
        </button>
        <button class="btn btn-primary aw-btn-action aw-api-click" title="Run" aw-api-endpoint="job" aw-api-item="{{ job.id }}" aw-api-method="post">
            {% include "../button/icon/run.html" %}
        </button>
        <button class="btn btn-info aw-btn-action aw-btn-expand" title="Expand" aw-expand="aw-spoiler-{{ job.id }}"
{% if executions|get_value:job.id|length == 0 %}
        disabled
{% endif %}
        >
            {% include "../button/icon/expand.html" %}
        </button>
    </td>
</tr>
{% if executions|get_value:job.id|length > 0 %}
{%   include "./manage_job_executions.html" %}
{% endif %}
{%   endfor %}
