{% load util %}
<tr hidden="hidden" id="aw-spoiler-{{ job.id }}">
    <td colspan="100%">
        <h2><b>Last executions</b></h2><br>
{% for execution in job_executions %}
        <div>
            {{ execution|execution_info_verbose|safe }}
{%   set_var execution_results_hosts|get_value:execution.id as execution_hosts %}
{%   if execution_hosts|length > 0 %}
{%     for result in execution_hosts %}
            <br><br>
            <b>Host:</b> '{{ result.hostname }}'<br>
{%       for field in result.STATS %}
            <b>{{ field|capitalize|whitespace_char:'_' }}:</b> {{ result|get_value:field }}{% if not forloop.last %} | {% endif %}
{%       endfor %}
        {# debug output #}{# result|to_dict #}
{%     endfor %}
{%   endif %}
        </div>
{% endfor %}
        <div>
            <button type="submit" title="Collapse" class="btn btn-info aw-btn-action aw-btn-collapse" aw-collapse="aw-spoiler-{{ job.id }}">
                {% include "../button/icon/collapse.html" %}
            </button>
        </div>
    </td>
</tr>
